.button {
  top: 37%;
  left: 15.3%;
  width: 230px;
  height: 230px;
  text-decoration: none;
  background-color: var(--dark);
  color: var(--light);
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  p {
    margin: 0px;
    font-size: 15px;
    font-weight: 300;
    font-family: "Heading Font";
    position: relative;
    z-index: 1;
  }
}

.SVG-Container {
  position: absolute;
  z-index: 1;
  left: 12.7%;
  top: 35%;
  pointer-events: none;
}
