.Head {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding: 10px;
  box-sizing: border-box;
  mix-blend-mode: multiply;
  z-index: 11;
  .burger {
    cursor: pointer;
    display: flex;
    gap: 8px;
    flex-direction: column;
    padding: 30px;
    pointer-events: none;
    &::before,
    &::after {
      display: block;
      content: "";
      width: 30px;
      height: 2px;
      background-color: var(--dark);
      transition: transform 0.3s ease;
    }
    &::before {
      transform: rotate(0);
    }
    &::after {
      transform: rotate(0);
    }

    &.active::before {
      transform: rotate(45deg);
    }
    &.active::after {
      transform: rotate(-45deg);
    }
  }
  .bounds {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: all;
    &:hover {
      transform: scale(3);
    }
  }
}

.logoSVG {
  position: absolute;
  left: 2%;
  width: 70px;
  margin-top: 1%;
  cursor: pointer;
}

.drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--dark);
  transform: translateY(-100%);
  transition: transform 0.3s ease-out;
  z-index: 10;

  &.open {
    transform: translateY(0);
  }
}
