.ButtonPrimary {
  display: inline-block;
  padding: 10px 20px;
  background-color: $color-primary;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: transform 0.3s ease, color 0.3s ease;
  margin: 20px;
  width: 100px;
  &hover {
    transform: scale(1.5);
    color: $color-primary;
    background-color: white;
  }
}
.ButtonSecondary {
  display: inline-block;
  padding: 5px 10px;
  background-color: $color-primary;
  color: #ffffff;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 2px solid black;
  border-color: $color-primary;
}
.ButtonTertiary {
  display: inline-block;
  padding: 5px 10px;
  background-color: #ffffff;
  color: $color-primary;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 2px solid black;
  border-color: $color-primary;
}
