a {
  text-decoration: none;
}

.project {
  margin-left: 8%;
  display: flex;
  width: 70%;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px 20px 100px;
  border-top: 1px solid var(--dark);
  cursor: pointer;
  transition: all 0.2s;
  font-family: "Body Font";
  color: var(--dark);
}
.lastProject {
  border-bottom: 1px solid var(--dark);
}

.project:hover {
  opacity: 0.5;
}

.project:hover h2 {
  transform: translateX(-10px);
}

.project:hover p {
  transform: translateX(10px);
}

.project h2 {
  font-size: 40px;
  margin: 0px;
  font-weight: 400;
  transition: all 0.4s;
}

.project p {
  transition: all 0.4s;
  font-weight: 300;
}
